In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
gdp_df = pd.read_csv("../data/gdp_per_capita.csv")

In [61]:
gdp_df

,Country or Area,Year,Value,Value Footnotes
0,Afghanistan,2019,2065.036398,NaN
1,Afghanistan,2018,2033.779002,NaN
2,Afghanistan,2017,2058.383832,NaN
3,Afghanistan,2016,2057.062164,NaN
4,Afghanistan,2015,2068.265904,NaN
...,...,...,...,...
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,footnoteSeqID,Footnote,NaN,NaN
6869,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [62]:
gdp_df.drop("Value Footnotes", axis=1, inplace=True)

In [63]:
gdp_df.rename(columns = {'Country or Area':'Country', 'Year':'Year', 'Value': 'GDP_Per_Capita'}, inplace = True)

In [64]:
print(gdp_df)

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2019     2065.036398
1       Afghanistan                                      2018     2033.779002
2       Afghanistan                                      2017     2058.383832
3       Afghanistan                                      2016     2057.062164
4       Afghanistan                                      2015     2068.265904
...             ...                                       ...             ...
6865       Zimbabwe                                      1992     3054.889178
6866       Zimbabwe                                      1991     3426.598094
6867       Zimbabwe                                      1990     3324.348171
6868  footnoteSeqID                                  Footnote             NaN
6869              2  Excludes South Sudan after July 9, 2011.             NaN

[6870 rows x 3 columns]

In [65]:
type(gdp_df)

pandas.core.frame.DataFrame

In [66]:
type('country')

str

In [67]:
type('year')

str

In [68]:
type('GDP_Per_Capita')

str

In [69]:
#I thought that GDP_Per_Capita was a float or a number but it does not convert. Means that is just a float

In [74]:
gdp_df.loc[Year]

ValueError: Cannot index with multidimensional key